# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build
dist

# env
.env
.env.local
.env.*.local

# debug / ide
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem
.vscode
.idea

# typescript
next-env.d.ts
*.tsbuildinfo
